h6 {
  font-weight: bold;
  margin-bottom: 15px;
}

#tbProdutos {
  margin-top: 10px;
}

#btnGravarPagamento {
  margin-top: 31.5px;
}

#identificação {
  margin-bottom: 10px;
}

.NotaFiscalForm .input-group-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.NotaFiscalForm .table {
  margin-bottom: 0;
}

.table-invalid {
  border: red;
  border-width: thin;
  border-style: solid;
}

.NotaFiscalForm > Header > div {
  margin-top: 10px;
}

#button-group-submit button {
  margin-left: 5px;
}