.NFCeForm h5 {
  margin-top: -20px;
  margin-bottom: 25px;
}

.NFCeForm hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0; 
}

#tbProdutos {
  margin-top: 10px;
}

.btn-form-inline {
  margin-top: 31.5px;
}

#identificação {
  margin-bottom: 10px;
}

.NFCeForm .input-group-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.NFCeForm .table {
  margin-bottom: 0;
}

#button-group-submit button {
  margin-top: 10px;
  margin-left: 5px;
}

@media (max-width: 991px) {
  .NFCeForm section::after {
    content: '';
    display: block;
    clear: both;
  }

  .btn-bellow-table {
    float: right;
  }

  .NFCeForm .btn-success {
    width: 100% !important;
  }
}

.NFCeForm section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.NFCeForm .table .thead-light th {
  border-color: #ddd;
  background-color: #f5f5f5;
}

