.NFCeForm h5 {
  margin-top: -20px;
  margin-bottom: 25px;
}

.NFCeForm hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0; 
}

#tbProdutos {
  margin-top: 10px;
}

.btn-form-inline {
  margin-top: 31.5px;
}

#identificação {
  margin-bottom: 10px;
}

.NFCeForm .input-group-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.NFCeForm .table {
  margin-bottom: 0;
}

.table-invalid {
  border: red;
  border-width: thin;
  border-style: solid;
}

.NFCeForm > Header > div {
  margin-top: 10px;
}

#button-group-submit button {
  margin-top: 10px;
  margin-left: 5px;
}

@media (max-width: 991px) {
  .btn-form-inline {
    margin-top: 0;
  }
}

.btn-bellow-table {
  margin-top: 12px;
}

.NFCeForm section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.table {
  border-bottom: 1px solid #ddd;
}

.NFCeForm .table .thead-light th {
  border-color: #ddd;
  background-color: #f5f5f5;
}

.NFCeForm .btn-light {
  background-color: #ddd;
}

#btnVoltar {
  margin-top: 10px;
}

