h6 {
  font-weight: bold;
  margin-bottom: 15px;
}

#tbProdutos {
  margin-top: 10px;
}

#btnGravarPagamento {
  margin-top: 31.5px;
}

#identificação {
  margin-bottom: 10px;
}

.NotasFiscais .input-group-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.NotaFiscalModal .modal-footer-custom {
  padding: 0px;
  padding-top: 1rem;
}

.NotaFiscalModal .table {
  margin-bottom: 0;
}

.table-invalid {
  border: red;
  border-width: thin;
  border-style: solid;
}